@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.site-title {
    font-size: 1.8rem;
}

.nav {
    background-color: #070926;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    font-family: poppins;
    text-decoration: none;
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;

}
.nav li :hover{
    color: #C04BF2;
}

.Categorys {
    justify-content: center;
    align-items: center;
    padding: 0rem;
}

.form-label {
    font-family: poppins;
    font-size: 1.2rem;
    line-height: 1.1;
    margin-left: 1rem;
}

.Candidatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

input[type="radio"] {
    appearance: none;
    background-color: #ffffff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #281259;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.Categorys h2 {
    font-size: 2.2rem;
    font-family: poppins;
    margin: 0;
    margin-bottom: 1rem;
    color: white;
    background-color: #281259;
    text-align: center;
}

.container {
    margin: 1rem;
    text-align: center;
    padding-bottom: 4rem;
}

.active {
    background-color: #281259;
}

.Title {
    font-family: poppins;
}

.Footer {
    padding-left: 1.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: monospace;
    font-size: 1rem;
    height: 4rem;
}

.InputField {
    color: #070926;
    background-color: #ffffff;
    border-color: #070926;
    margin: 1rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: 2rem;
}

.FormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoginButton {
    font-size: 1.5rem;
    background-color: #281259;
    color: #ffffff;
    border-radius: 2rem;
    padding: .75rem;
    margin: 1rem;
    border-width: 0rem;
    font-family: poppins;
}

.Error {
    font-family: poppins;
    background-color: red;
    color: white;
    margin: 0px;
    padding: 1rem;
    width: 30rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
}

.page-contaniner {
    position: relative;
    min-height: 100vh;
}